{
  "applications" : [ {
    "name" : "SwingSet3",
    "icon" : "${user.dir}/demo/SwingSet3/icon.png",
    "mainClass" : "com.sun.swingset3.SwingSet3",
    "classPathEntries" : [ "${user.dir}/demo/SwingSet3/SwingSet3.jar", "${user.dir}/demo/SwingSet3/lib/*.jar" ],
    "vmArgs" : "-Xmx128m -DauthorizedUser=${user}",
    "args" : "",
    "homeDir" : "demo/SwingSet3/${user}",
    "maxClients" : 1,
    "antiAliasText" : true,
    "swingSessionTimeout" : 300,
    "authorization" : false,
    "isolatedFs" : true,
    "debug" : false,
    "authentication" : false,
    "directdraw" : false,
    "allowDelete" : true,
    "allowDownload" : true,
    "allowUpload" : true
  }, {
    "name" : "Printing",
    "icon" : "icon.png",
    "mainClass" : "Main",
    "classPathEntries" : [ "print.jar" ],
    "vmArgs" : "",
    "args" : "",
    "homeDir" : "demo/Printing",
     "maxClients" : 1,
    "antiAliasText" : true,
    "swingSessionTimeout" : 300,
    "authorization" : false,
    "isolatedFs" : true,
    "debug" : false,
    "authentication" : false,
    "directdraw" : false,
    "allowDelete" : true,
    "allowDownload" : true,
    "allowUpload" : true
  }, {
    "name" : "NetBeans Platform",
    "icon" : "icon.png",
    "mainClass" : "nbmin.main",
    "classPathEntries" : [ "nbmin-0.0.1-SNAPSHOT.jar", "lib/*.jar" ],
    "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
    "args" : "",
    "homeDir" : "demo/nbmin",
    "maxClients" : 1,
    "antiAliasText" : true,
    "swingSessionTimeout" : 300,
    "authorization" : false,
    "isolatedFs" : true,
    "debug" : false,
    "authentication" : false,
    "directdraw" : false,
    "allowDelete" : true,
    "allowDownload" : true,
    "allowUpload" : true
  } ]
}
