{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }]
      }
    }
  },
  "/welcome" : {
    "path" : "/welcome",
    "webFolder" : "${webswing.rootDir}/welcome",
    "name": "Welcome page",
    "swingConfig": {
    }
  }
}