<div data-id="commonDialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" data-id="content">
				
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="item_tmpl">
				<p>Continue old session?</p>
				<button class="btn btn-primary" onclick="webswing.continueSession(true)">Yes,
					continue.</button>
				<button class="btn btn-default" onclick="webswing.continueSession(false)">No, start
					new session.</button>
</script>
