<div data-id="playbackBar" class="webswing-playbackBarOuter">
	<div class="webswing-playbackBar">
		<div class="container-fluid">
			<div class="webswing-playbackBarButtonRow row ">
				<div style="padding-right: 0px;" class="col-xs-8">
					<div data-id="progress" class="progress">
						<div style="width: 0%;" class="webswing-playback-progress-bar progress-bar-success"></div>
					</div>
				</div>
				<div class="col-xs-4">
					<span data-id="current"></span>/<span data-id="total"></span>
				</div>
			</div>
			<div class="webswing-playbackBarButtonRow row ">
				<div class="col-xs-2">
					<button class="btn btn-success btn-xs btn-block" data-id="reset">Reset</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-success btn-xs btn-block" data-id="play">Play</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-success btn-xs btn-block" data-id="stop">Stop</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-success btn-xs btn-block" data-id="step">Step</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-success btn-xs btn-block" data-id="10step">10 Step</button>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-success btn-xs btn-block" data-id="100step">100 Step</button>
				</div>
			</div>
		</div>
	</div>
</div>