<tabset> 
    <tab heading="General settings">
        <div class="row">
            <div class="ws-config-group col-md-12">

                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Name" 
                                 desc="Swing application name." 
                                 value="vm.app.name" 
                                 required requiredMsg="Application name must not be empty.">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Icon" 
                                 desc="Path to icon displayed in application selection dialog." 
                                 value="vm.app.icon" 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Home directory" 
                                 desc="Swing application's home directory. Swing application instances will be executed from this directory. This will also be the base directory of any relative classpath entries specified." 
                                 value="vm.app.homeDir" 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Session timeout" 
                                 desc="Specifies how long (seconds) will be the swing application left running after the user closes the browser. User can reconnect in this interval and continue in last session. Use -1 for sessions running for unlimited time (Only suitable for CONTINUE_FOR_USER session mode)." 
                                 value="vm.app.swingSessionTimeout" 
                                 required requiredMsg="Specify the timeout interval."
                                 type="number">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Sessions limit" 
                                 desc="Maximum number of allowed simultaneous connections for this application." 
                                 value="vm.app.maxClients" 
                                 required requiredMsg="Specify the limit."
                                 type="number">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="SessionMode" 
                                 desc="Select session behavior when user reconnects to application. 1.ALWAYS_NEW_SESSION: New swing application is started for every Webswing session. (Session timeout will be set to 0) 2.CONTINUE_FOR_BROWSER: Webswing session can be resumed in the same browser after connection is terminated (Session timeout applies). 3.CONTINUE_FOR_USER: Swing session can be resumed by the same user from any computer after the connection is terminated(Session timeout applies)." 
                                 value="vm.app.sessionMode" 
                                 items="['ALWAYS_NEW_SESSION','CONTINUE_FOR_BROWSER','CONTINUE_FOR_USER']">
                </ws-string-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Allow Session Stealing" 
                                  desc="If enabled, and session mode 'CONTINUE_FOR_USER' is selected, user can resume Webswing session even if the connection is open in other browser. Former browser window will be disconnected." 
                                  value="vm.app.allowStealSession" >
                </ws-boolean-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Theme" 
                                 desc="Select one of the default window decoration themes or a enter path to a XFWM4 theme folder." 
                                 value="vm.app.theme" 
                                 items="['Murrine','Agualemon','Sassandra','Therapy','Totem','Vertex','Vertex-Light']" 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="DirectDraw" 
                                  desc="DirectDraw rendering mode uses canvas instructions to render the swing application instead of server-rendered png images. DirectDraw improves performance but is not recomended for applications with lot of graphics content" 
                                  value="vm.app.directdraw" >
                </ws-boolean-field>
                <ws-string-map-field readonly="{{vm.readonly}}"
                                     label="Font config" 
                                     desc="Customize logical font mappings and define physical fonts available to swing application. These fonts (TTF only) will be used for DirectDraw as native fonts. Key: name of font (ie. dialog|dialoginput|sansserif|serif|monospaced), Value: path to font file." 
                                     value="vm.app.fontConfig"  
                                     variables="vm.variables">
                </ws-string-map-field>
            </div>
        </div>
    </tab>
    <tab heading="Java settings">    
        <div class="row">
            <div class="ws-config-group col-md-12">
            	<ws-string-field readonly="{{vm.readonly}}"
                                 label="JRE Executable" 
                                 desc="Path to java executable that will be used to spawn swing application process. Java 6,7 and 8 is supported." 
                                 value="vm.app.jreExecutable" 
                                 required requiredMsg="JRE executable is mandatory." 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Java Version" 
                                 desc="Java version of the JRE executable defined above. Expected values are starting with '1.6', '1.7' or '1.8'."
                                 value="vm.app.javaVersion" 
                                 required requiredMsg="Java version is mandatory." 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}" ng-if="!vm.applet"
                                 label="Main class" 
                                 desc="Swing application fully qualiffied class name. (ie. 'com.mypackage.Main')" 
                                 value="vm.app.mainClass" 
                                 required requiredMsg="Main class' fully qualified name is mandatory." 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}" ng-if="!vm.applet"
                                 label="Main arguments" 
                                 desc="Swing application main method arguments. This string will be passed to the main method's (String[] args) " 
                                 value="vm.app.args"  
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-field readonly="{{vm.readonly}}" ng-if="vm.applet"
                                 label="Applet class" 
                                 desc="Applet's fully qualiffied main class name. Must implement the java.applet.Applet interface. (ie. 'com.mypackage.MyApplet')" 
                                 value="vm.app.appletClass" 
                                 required requiredMsg="Applet class' fully qualified name is mandatory." 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-string-map-field readonly="{{vm.readonly}}" ng-if="vm.applet"
                                     label="Start parameters" 
                                     desc="Applets start parameters. Set of key-value pairs accessible to applet at startup." 
                                     value="vm.app.parameters"  
                                     variables="vm.variables">
                </ws-string-map-field>
                <ws-string-list-field readonly="{{vm.readonly}}"
                                      label="Classpath entries" 
                                      desc="Swing application's classpath. Absolute or relative path to jar file or classes directory. At least one classPath entry should be specified containing the main class. Supports ? and * wildcards." 
                                      value="vm.app.classPathEntries"
                                      variables="vm.variables">
                </ws-string-list-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="JVM arguments" 
                                 desc="Commandline arguments processed by Oracle's Java Virtual Machine. (ie. '-Xmx128m')" 
                                 value="vm.app.vmArgs" 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Anti alias text" 
                                  desc="Enables rendering of anti-aliased text. Smoothens the edges of the text." 
                                  value="vm.app.antiAliasText" >
                </ws-boolean-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Debug mode" 
                                  desc="Enables remote debug for this application. To start the application in debug mode use '?debugPort=8000' url param." 
                                  value="vm.app.debug" >
                </ws-boolean-field>
            </div>
        </div>
    </tab>
    <tab heading="Security settings">    
        <div class="row">
            <div class="ws-config-group col-md-12">
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Requires authentication" 
                                  desc="If authentication is disabled for this application, login dialog will not pop up if accessing this application directly using '?anonym=true' url param." 
                                  value="vm.app.authentication" >
                </ws-boolean-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Requires authorization" 
                                  desc="Set authorized access to this application. Only users with role same as application's name can access this application. Authentication flag is ignored if this is true." 
                                  value="vm.app.authorization" >
                </ws-boolean-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Isolated filesystem" 
                                  desc="If true, every file chooser dialog will be restricted to access only the home directory of current application." 
                                  value="vm.app.isolatedFs" >
                </ws-boolean-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Upload folder" 
                                 desc="If Isolated Filesystem is enabled. This will be the folder on the server where the user can upload and download files from." 
                                 value="vm.app.transferDir" 
                                 variables="vm.variables">
                </ws-string-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Download files" 
                                  desc="If selected, the JFileChooser integration will allow users to download files displayed in the file chooser dialog" 
                                  value="vm.app.allowDownload" >
                </ws-boolean-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Auto-Download files" 
                                  desc="If selected, the JFileChooser dialog's save mode will trigger file download as soon as the selected file is available on filesystem." 
                                  value="vm.app.allowAutoDownload" >
                </ws-boolean-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Upload files" 
                                  desc="If selected, the JFileChooser integration will allow users to upload files to folder opened in the file chooser dialog" 
                                  value="vm.app.allowUpload" >
                </ws-boolean-field>
                <ws-string-field readonly="{{vm.readonly}}"
                                 label="Max. Upload Size" 
                                 desc="Maximum size of upload for single file (in MB). Set 0 for unlimited size." 
                                 value="vm.app.uploadMaxSize" 
                                 type="number">
                </ws-string-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="Delete files" 
                                  desc="If selected, the JFileChooser integration will allow users to delete files displayed in the file chooser dialog" 
                                  value="vm.app.allowDelete" >
                </ws-boolean-field>
                <ws-boolean-field readonly="{{vm.readonly}}"
                                  label="JSLink allowed" 
                                  desc="If selected, the JSLink feature will be enabled, allowing swing application to invoke javascript and vice versa. (See netscape.javascript.JSObject)" 
                                  value="vm.app.allowJsLink" >
                </ws-boolean-field>
            </div>
        </div>
    </tab>
    <tab ng-if="!vm.readonly"> 
        <tab-heading> 
            <i class="glyphicon glyphicon-flash"></i>
            Variables
        </tab-heading>
        <div class="ws-tab-panel row">
            <div class="ws-config-group col-md12">
                <ws-substitutor-helper variables="vm.variables"/>
            </div>
        </div>
    </tab> 
    <tab select="vm.updateJson()"> 
        <tab-heading> 
            <i class="glyphicon glyphicon-cog"></i>
            JSON
        </tab-heading>
        <div class="ws-tab-panel row">
            <div class="ws-config-group col-md12">
                <div ui-ace="{ mode: 'json', onLoad : vm.aceLoaded}" ng-model="vm.json"></div>
            </div>
        </div>
    </tab> 
</tabset>