<div ng-if="vm.value!=null" class="panel panel-default">
	<div class="panel-heading">
		<div class="row ws-app-header">
			<img ng-src="{{vm.b64img}}" alt="{{vm.value.name}}" class="ws-app-img img-circle"></img>
			<div class="ws-app-name ">
				<h4>{{vm.value.name}}  </h4>
				<a href="{{vm.value.url}}">{{vm.value.path}} </a>
				<ws-status-bar status="vm.value.status"></ws-status-bar>
			</div>
			<div ng-if="vm.detail ==='true'" class="pull-right">
				<button ng-if="vm.stoppable && vm.permissions.sessions" class="btn btn-primary" type="button" ng-click="vm.viewSessions()">
			    	<span class="glyphicon glyphicon-search"></span>  Sessions
				</button>
				<button ng-if="vm.permissions.configView && vm.showConfigButton" class="btn btn-primary" type="button" ng-click="vm.viewConfig()">
			    	<span class="glyphicon glyphicon-edit"></span>  Config
				</button>
			
				<button ng-if="vm.value.runningInstances===0 && vm.stoppable && vm.permissions.stop" class="btn btn-default" type="button" ng-click="vm.stop()">
			    	<span class="glyphicon glyphicon-minus-sign"></span> Disable
				</button>
				<button ng-if="vm.value.runningInstances!==0 && vm.stoppable && vm.permissions.stop" class="btn btn-default" type="button" data-toggle="modal" data-target="#confirmKillall-{{vm.pathNormalized}}">
			    	<span class="glyphicon glyphicon-minus-sign"></span> Disable
				</button>
				
				<!-- Confirm kill all -->
				<div class="modal fade" id="confirmKillall-{{vm.pathNormalized}}" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-md" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Warning</h4>
							</div>
							<div class="modal-body">
				        		There are {{vm.value.runningInstances}} running instances. Would you like to kill them?
				        	</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.stop()">Yes, Kill Them All!</button>
							</div>
						</div>
					</div>
				</div>
				
				<button ng-if="vm.startable && vm.permissions.start" class="btn btn-success" type="button" ng-click="vm.start()">
				    <span class="glyphicon glyphicon-ok"></span> Enable
				</button>
				
		        <button ng-if="vm.startable && vm.permissions.remove && vm.detail ==='true'" type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmRemove-{{vm.pathNormalized}}">
				    <span class="glyphicon glyphicon-trash"></span> Remove
				</button>
				
				<!-- Confirm remove -->
				<div class="modal fade" id="confirmRemove-{{vm.pathNormalized}}" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-md" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Remove {{vm.value.name}}</h4>
							</div>
							<div class="modal-body">
				        		Are you sure you want to remove {{vm.value.name}}?
				        	</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.stop()">Remove</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="vm.detail ==='true'" class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h4>Sessions:</h4>
				<div class="ws-pie-chart">
					<pie-chart data="vm.usageData" options="vm.usageOptions"></pie-chart>
				</div>
				<table class="table">
					<tr>
						<td><strong>Running sessions:</strong></td>
						<td>{{vm.value.runningInstances}}</td>
					</tr>
					<tr>
						<td><strong>Finished sessions:</strong></td>
						<td>{{vm.value.finishedInstances}}</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h4>Stats:
					<button ng-if="vm.hasWarnings" type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#warnModal">
					  	<span class="glyphicon glyphicon-exclamation-sign"></span> Warnings
					</button>
				</h4>
				<!-- WarningModal -->
				<div ng-if="vm.hasWarnings" class="modal fade" id="warnModal" tabindex="-1" role="dialog" >
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h4 class="modal-title">Warnings:</h4>
				      </div>
				      <div class="modal-body">
				   	    <table class="table table-striped">
					        <thead>
					            <tr class="ws-table-header">
					                <th>Warning Message</th>
					                <th>Action</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr ng-repeat="(key, value) in vm.value.warnings">
					                <td>
					                    <p ng-repeat="msg in value">
					                    	{{msg}}
					                    </p>
					                </td>
					                <td>
				                    	<button ng-click="vm.viewSession(key)" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">View</button>
					                </td>
					            </tr>
					        </tbody>
					    </table>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
				<ws-line-graph value="vm.memoryStats"></ws-line-graph>
				<ws-line-graph value="vm.cpuStats"></ws-line-graph>
				<ws-line-graph value="vm.bandwidthStats"></ws-line-graph>
				<ws-line-graph value="vm.latencyStats"></ws-line-graph>
			</div>

		</div>
	</div>
</div>