<div class="panel panel-default">
	<div class="panel-heading ws-panel-heading">
		<h5>
			<span ng-if="vm.label != null">{{::vm.label}}</span>
			<span class="ws-tooltip glyphicon glyphicon-question-sign" ng-if="vm.desc != null" ui-jq="tooltip" title="{{::vm.desc}}"></span>
	        <button ng-if="vm.value == null" class="btn btn-xs btn-default pull-right" type="button" ng-click="vm.addObject()">
	            <span class="glyphicon glyphicon-plus"></span>
	        </button>
		</h5> 
	</div>
	<div ng-if="vm.value != null" class="panel-body">
		<tabset ng-if="vm.needTabs"> 
		    <tab ng-repeat="(key, value) in vm.tabs" heading="{{key}}">
		        <div class="row">
		            <div class="ws-config-group col-md-12">
		                <ws-field-view ng-repeat="field in value"
		                          field="field"  
		                          variables="vm.variables">
		                </ws-field-view>
		            </div>
		        </div>
		    </tab>
		</tabset>
		<div class="row" ng-if="!vm.needTabs" ng-repeat="(key, value) in vm.tabs">
			<div class="ws-config-group col-md-12">
		        <ws-field-view ng-repeat="field in value"
		                  field="field"  
		                  variables="vm.variables">
		        </ws-field-view>
		    </div>
		</div>
	</div>
</div>