###################
# compiled source #
###################
target/
dist/
.settings/
.project
.classpath
webswing-server-debug/webswing.log
webswing-server/webswing.log
webswing-server-launcher/webswing.log
