webswing-directdraw/webswing-directdraw-swing/src/main/java/org/webswing/directdraw/proto/Directdraw.java text eol=lf
webswing-directdraw/webswing-directdraw-javascript/src/main/webapp/proto/dd.d.ts text eol=lf
webswing-directdraw/webswing-directdraw-javascript/src/main/webapp/proto/dd.js text eol=lf
webswing-server/webswing-server-frontend/src/main/webapp/javascript/proto/* text eol=lf
webswing-app-services/src/main/java/org/webswing/model/app/proto/* text eol=lf
webswing-app-services/src/main/java/org/webswing/model/appframe/proto/* text eol=lf
webswing-app-services/src/main/java/org/webswing/model/browser/proto/* text eol=lf
webswing-app-services/src/main/java/org/webswing/model/common/proto/* text eol=lf
webswing-app-services/src/main/java/org/webswing/model/adminconsole/proto/* text eol=lf
webswing-server/webswing-server-common/src/main/java/org/webswing/model/appframe/proto/* text eol=lf
webswing-server/webswing-server-common/src/main/java/org/webswing/model/browser/proto/* text eol=lf
webswing-server/webswing-server-common/src/main/java/org/webswing/model/common/proto/* text eol=lf
webswing-server/webswing-server-common/src/main/java/org/webswing/model/security/proto/* text eol=lf
webswing-server/webswing-server-common/src/main/java/org/webswing/model/adminconsole/proto/* text eol=lf
webswing-server/webswing-server-common/src/main/java/org/webswing/model/app/proto/* text eol=lf