webswing-server/webswing-server-war/src/main/java/org/webswing/server/model/proto/Webswing.java text eol=lf
webswing-directdraw/webswing-directdraw-swing/src/main/java/org/webswing/directdraw/proto/Directdraw.java text eol=lf
webswing-server/webswing-server-war/src/main/webapp/css/style.css text eol=lf
webswing-server/webswing-server-war/src/main/webapp/css/style.css.map text eol=lf