<h1 class="page-header">Configuration</h1>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-sm" title="Reset to current live configuration." ui-jq="tooltip" ng-click="vm.reset()"><span class="glyphicon glyphicon-repeat"></span> Reset
            </button>
            <button type="button" class="btn btn-primary btn-sm" title="Use this configuration in server runtime." ui-jq="tooltip" ng-click="vm.apply()"><span class="glyphicon glyphicon-ok"></span> Apply
            </button>
        </div>
        <div class="ws-tabs col-md-12 ">
            <ws-config-view label="Server Configuration" 
            desc="Configure the global security module and overlay web folder" 
            variables="vm.variables" 
            value="vm.config"
            hide="['path','swingConfig']">
            </ws-config-view>
        </div>
    </div>
</div>