.c-button {
    &--dialog {
        @include rem('padding', 8px 15px);
        @include rem('margin', 15px 10px 0px 0px);

        background: none;
        border: 1px solid;
        border-color: $light-grey-4;
        border-radius: 3px;

        font-size: $small;

        &:hover {
            background-color: $primary;
            border-color: $primary;

            color: $white;
        }
    }
}

.c-selector-button {
    width: 27%;
    margin-right: 3%;
    margin-left: 3%;
    background: none;
    border: 1px solid;
    border-color: $light-grey-4;
    border-radius: 3px;
}

.c-selector-button-thumb {
    max-width: 150px;
}

.c-selector-button-caption {
    word-wrap: break-word;
}
