// Filename: _clipboard.scss
// Description: Clipboard component. Allows the user to manage clipboard contents.

// The bottom-right panel
.c-clipboard-modal {
    @include rem('max-width', 520px);
    @include rem('padding', 15px);
    @include border-radius(3px);
    @include dropshadow-3;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    background: $white;

    font-size: $smaller;
}

// The part of the panel that slides down
.c-clipboard-body {
    @include rem('min-height', 160px);

    margin-right: 0;
}

// Container for the tab labels
.c-tab-labels {
    clear: both;
}

// Individual tab label
.c-tab-label {
    @include rem('margin', 0px 25px 10px 0px);

    float: left;
    padding: 0;
    background: none;
    border: none;

    color: $secondary-text;

    cursor: pointer;

    &:hover {
        color: $primary;
    }

    &:active {
        outline: none;
    }

    &--is-active {
        color: $primary;
    }
}

// The contents of the tabs associated with the labels
.c-tab-content {
    //Hidden by default unless active
    &__item {
        @include rem('min-height', 100px);
        @include rem('top', 10px);
        @include rem('margin-bottom', 10px);

        position: relative;

        display: none;
        clear: both;

        // Shows the active tab
        &--is-active {
            display: block;

            color: $primary-text;
        }
    }

    // Gives the user instructions on how they can use the clipboard
    &__instructions {
        @include rem('padding-top', 5px);
        @include rem('margin', 0px);
        @include rem('right', 5px);
        @include rem('bottom', -20px);

        position: absolute;

        color: $secondary-text;
        font-size: $smallest;
    }

    // Fields with clipboard text content
    &__text-area {
        @include rem('padding', 10px);

        width: 100%;
    }

    // Thumbnails of clipboard images
    &__img-thumb {
        @include border-radius(3px);
        @include rem('padding', 10px);
        @include rem('margin', 0px 10px 10px 0px);

        display: block;
        clear: both;
        height: auto;
        background: none;
        border: 1px solid;
        border-color: $light-grey-3;
    }

    // List of clipboard files
    &__file-list {
        @include rem('padding', 10px);
        @include rem('margin-bottom', 10px);

        clear: both;
        border: 1px solid $light-grey-2;

        color: $neutral;
        font-size: $smallest;

        & a {
            cursor: pointer;
        }
    }
}

// The part of the clipboard that remains visible
.c-clipboard-sticky-container {
    display: block;
    clear: both;
    width: 100%;
}

// Holds the tab buttons that remain visible when minimized
.c-minimized-tab-container {
    display: block;
    float: left;
}

// Individual tabs to indicate what content is available in the clipboard
.c-minimized-tab {
    @include rem('padding', 6px 10px);
    @include rem('margin-right', 5px);
    @include border-radius(3px);

    background: none;
    border: 1px solid;
    border-color: $light-grey-4;

    font-size: $smallest;

    cursor: pointer;

    &--is-active {
        color: $primary-text;

        &:hover {
            background-color: $primary;
            border-color: $primary;

            color: $white;
        }
    }

    &--is-inactive {
        border-color: $light-grey-4;

        color: $light-grey-4;

        cursor: default;
    }
}

// Button that clears the clipboard content
.c-clipboard-clear-button {
    @include rem('padding', 6px 10px);
    @include border-radius(3px);

    float: right;
    background: none;
    border: 1px solid;
    border-color: $light-grey-4;

    font-size: $smallest;

    &:hover {
        background-color: $primary;
        border-color: $primary;

        color: $white;
    }
}

// Collapses the clipboard panel to the minimized state
.c-tab-labels__minimize-button {
    @include font-awesome;
    @include rem('top', 15px);
    @include rem('right', 15px);
    @include rem('width', 27px);
    @include rem('height', 27px);
    @include border-radius(50px);

    position: absolute;

    background: none;
    border: 1px solid $light-grey-2;

    color: #b3b3b3;
    font-size: $smallest;

    cursor: pointer;

    &:active {
        outline: none;
    }

    &:hover {
        @include dropshadow-2;

        border-color: $white;

        color: $primary;
    }

    // Chevron down icon from Font Awesome
    &:before {
        content: '\f078';
    }
}
