// Filename: _modals.scss
// Description: Mixins that can be used to construct the default modal

// The container that holds the rest
@mixin modal {
    @include rem('max-width', 320px);
    @include rem('padding', 20px);
    @include border-radius(3px);
    @include dropshadow-5;

    position: relative;
    top: -10%;

    width: 100%; // Note: max width is set to 320px
    margin-right: auto;
    margin-left: auto;
    background-color: $white;

    text-align: center;
}

// Header, the frame that holds the title. Avoid styling text here.
@mixin modal__header {
    @include rem('padding-bottom', 20px);

    border-bottom: 1px solid $light-grey-3;
}

// The title text itself
@mixin modal__header-title {
    font-size: $regular;
    text-transform: uppercase;
}

// Instruction text below title and above the main content
@mixin modal__content-instructions {
    @include rem('padding-top', 10px);

    color: $secondary-text;
    font-size: $small;
}

// Error and success messages
@mixin modal__content-message {
    @include rem('margin-top', 20px);
    @include rem('margin-bottom', 20px);

    font-size: $small;

    &--error {
        color: $danger;
    }

    &--neutral {
        color: $neutral;
    }

    &--success {
        color: $success;
    }
}
