// Filename: _toolbars.scss
// Description: Mixins that can be used to construct the default toolbar

// The frame that holds the rest
@mixin toolbar {
    @include rem('max-width', 480px);
    @include rem('padding', 15px);
    @include border-radius(3px);
    @include dropshadow-3;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    background: $white;

    font-size: $smaller;
}

@mixin toolbar-message {
    @include rem('margin:', 20px 0px);

    font-size: $small;

    &--error {
        color: $danger;
    }

    &--neutral {
        color: $neutral;
    }

    &--success {
        color: $success;
    }
}

