/**
 * Filename: _base.scss
 * Original author: Stephen Niemans (30-9-2016)
 * Last modified by: Stephen Niemans (30-9-2016)
 *
 * Description:
 * Sets all base styles for the application
 */

// Set to 100% because Webswing will behave quirky otherwise
html,
body {
    width: 100%;
    height: 100%;
}

// This value in _config.scss is used for all REM scaling
html {
    font-size: $base-size;
}


body {
    background-color: $white;

    color: $primary-text;
    font-family: $body-font;
    font-weight: normal;
    line-height: $lh-body;
}

* {
    box-sizing: border-box;
}

// Typography
p {
    font-size: $regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: $heading-font;
    font-weight: bold;
    line-height: $lh-headings;
}

h1 {
    font-size: $largest;
}

h2,
legend {
    font-size: $larger;
}

h3,
big {
    font-size: $large;
}

h4 {
    font-size: $medium;
}

h5 {
    font-size: $regular;
}

h6 {
    font-size: $small;
}

// Emphasis
blockquote,
cite,
em,
i {
    font-style: italic;
}

// Selected text
::-moz-selection,
::selection {
    background-color: $primary;

    color: $white;
}

// Links
a {
    &:link {
        color: $neutral;
        text-decoration: none;
    }

    &:visited,
    &:hover,
    &:active,
    &:focus {
        color: $primary;
        text-decoration: none;
    }
}

// Media
embed,
iframe,
img,
object,
video {
    max-width: 100%;
    height: auto;
}

// Interactive elements
a,
button,
input {
    @include transition-duration(0.2s);
    cursor: auto;
}
