html,
body
{
    width: 100%;
    height: 100%;
}

html
{
    font-size: $base-size;
}

body
{
    font-family: $body-font;
    font-weight: normal;
    line-height: $lh-body;

    color: $primary-text;
    background-color: $white;
}

*
{
    box-sizing: border-box;
}

// Typography
p
{
    font-size: $regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend
{
    font-family: $heading-font;
    font-weight: bold;
    line-height: $lh-headings;
}

h1
{
    font-size: $largest;
}

h2,
legend
{
    font-size: $larger;
}

h3,
big
{
    font-size: $large;
}

h4
{
    font-size: $medium;
}

h5
{
    font-size: $regular;
}

h6
{
    font-size: $small;
}

// Emphasis
blockquote,
cite,
em,
i
{
    font-style: italic;
}

// Selected text
::-moz-selection,
::selection
{
    color: $white;
    background-color: $primary;
}

// Links
a:link,
a:visited,
a:hover,
a:active,
a:focus
{
    text-decoration: none;

    color: $primary;
}

