// Filename: _config.scss
// Description: Sets variables used throughout the project

// Colors
$white: #ffffff;
$black: #000000;
$primary: #ff5c00; // Brand color
$primary-darker: #ed500d;
$primary-lighter: #ff6d01;
$secondary: #2e2f33; // Secondary brand color
$secondary-darker: #292a2e;
$secondary-lighter: #333438;
$primary-text: #212121; // For regular text
$secondary-text: #757575; // For faded text

$light-grey-0: #fafafa; // Lightest background
$light-grey-1: #fafafa; // Lighter background
$light-grey-2: #f4f4f4; // Light background
$light-grey-3: #eeeeee; // Less light background
$light-grey-4: #e2e2e2; // Even less light background

$divider-color: #f2f0ed; // Dividers and borders

$danger: #d62020; // Button and alert colors
$notice: #ff5c00;
$neutral: #086788;
$success: #6bb21a;
$warning: #ffb219;

// Font families
$body-font: 'open sans', sans-serif;
$heading-font: 'open sans', sans-serif;

// Font sizes
$base-size: 16px; // Used to calculate all rem values

$largest: 3.157rem;
$larger: 2.369rem;
$large: 1.777rem;
$medium: 1.333rem;
$regular: 1rem;
$small: 0.9375rem;
$smaller: 0.875rem;
$smallest: 0.8125rem;
$lh-body: 1.4; // Line height for body text
$lh-headings: 1.2; // Line height for headings
