/*!
    Project: Webswing server webapp style.css (v 1.01)
    Author: Stephen Niemans
*/
html {
    font-family: sans-serif;
    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    margin: 0.67em 0;

    font-size: 2em;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
}

pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

a {
    background-color: transparent;

    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;

    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ffff00;

    color: #000000;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;

    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;

    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    display: table;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    color: inherit;
    white-space: normal;
}

progress {
    display: inline-block;

    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    outline-offset: -2px;

    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;

    -webkit-appearance: button;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-400-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-400-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;

    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/open-sans-400-italic-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;

    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/open-sans-400-italic-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-700-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-700-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/fontawesome-webfont.woff) format('woff');
}
.u-hidden {
    display: none;
}

/**
 * Filename: _base.scss
 *
 * Description:
 * Sets all base styles for the application
 */
html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    background-color: #ffffff;

    color: #212121;
    font-family: 'open sans', sans-serif;
    font-weight: normal;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 0.9375rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 3.157rem;
}

h2,
legend {
    font-size: 2.369rem;
}

h3,
big {
    font-size: 1.777rem;
}

h4 {
    font-size: 1.333rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.9375rem;
}

blockquote,
cite,
em,
i {
    font-style: italic;
}

::-moz-selection,
::selection {
    background-color: #ff5c00;

    color: #ffffff;
}

a:link {
    color: #086788;
    text-decoration: none;
}
a:visited,
a:hover,
a:active,
a:focus {
    color: #ff5c00;
    text-decoration: none;
}

embed,
iframe,
img,
object,
video {
    max-width: 100%;
    height: auto;
}

a,
button,
input {
    cursor: auto;
    -webkit-transition-duration: 0.2s;
       -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.l-webswing-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #ffffff, #f4f4f4);
}

.l-modal-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: center;
}

.l-app-selection-container {
    display: inline-flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.l-clipboard-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.c-clipboard-modal {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    max-width: 520px;
    max-width: 32.5rem;
    padding: 15px;
    padding: 0.9375rem;
    background: #ffffff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    font-size: 0.875rem;
}

.c-clipboard-body {
    min-height: 160px;
    min-height: 10rem;
    margin-right: 0;
}

.c-tab-labels {
    clear: both;
}

.c-tab-label {
    float: left;
    padding: 0;
    margin: 0 25px 10px 0;
    margin: 0rem 1.5625rem 0.625rem 0rem;
    background: none;
    border: none;

    color: #757575;

    cursor: pointer;
}
.c-tab-label:hover {
    color: #ff5c00;
}
.c-tab-label:active {
    outline: none;
}
.c-tab-label--is-active {
    color: #ff5c00;
}

.c-tab-content__item {
    position: relative;
    top: 10px;
    top: 0.625rem;

    display: none;
    clear: both;
    min-height: 100px;
    min-height: 6.25rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}
.c-tab-content__item--is-active {
    display: block;

    color: #212121;
}
.c-tab-content__instructions {
    position: absolute;
    right: 5px;
    right: 0.3125rem;
    bottom: -20px;
    bottom: -1.25rem;

    padding-top: 5px;
    padding-top: 0.3125rem;
    margin: 0;
    margin: 0rem;

    color: #757575;
    font-size: 0.8125rem;
}
.c-tab-content__text-area {
    width: 100%;
    padding: 10px;
    padding: 0.625rem;
}
.c-tab-content__img-thumb {
    display: block;
    clear: both;
    height: auto;
    padding: 10px;
    padding: 0.625rem;
    margin: 0 10px 10px 0;
    margin: 0rem 0.625rem 0.625rem 0rem;
    background: none;
    border: 1px solid;
    border-color: #eeeeee;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.c-tab-content__file-list {
    clear: both;
    padding: 10px;
    padding: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    border: 1px solid #f4f4f4;

    color: #086788;
    font-size: 0.8125rem;
}
.c-tab-content__file-list a {
    cursor: pointer;
}

.c-clipboard-sticky-container {
    display: block;
    clear: both;
    width: 100%;
}

.c-minimized-tab-container {
    display: block;
    float: left;
}

.c-minimized-tab {
    padding: 6px 10px;
    padding: 0.375rem 0.625rem;
    margin-right: 5px;
    margin-right: 0.3125rem;
    background: none;
    border: 1px solid;
    border-color: #e2e2e2;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    font-size: 0.8125rem;

    cursor: pointer;
}
.c-minimized-tab--is-active {
    color: #212121;
}
.c-minimized-tab--is-active:hover {
    background-color: #ff5c00;
    border-color: #ff5c00;

    color: #ffffff;
}
.c-minimized-tab--is-inactive {
    border-color: #e2e2e2;

    color: #e2e2e2;

    cursor: default;
}

.c-clipboard-clear-button {
    float: right;
    padding: 6px 10px;
    padding: 0.375rem 0.625rem;
    background: none;
    border: 1px solid;
    border-color: #e2e2e2;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    font-size: 0.8125rem;
}
.c-clipboard-clear-button:hover {
    background-color: #ff5c00;
    border-color: #ff5c00;

    color: #ffffff;
}

.c-tab-labels__minimize-button {
    position: absolute;
    top: 15px;
    top: 0.9375rem;
    right: 15px;
    right: 0.9375rem;

    display: inline-block;
    width: 27px;
    width: 1.6875rem;
    height: 27px;
    height: 1.6875rem;
    background: none;
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;

    color: #b3b3b3;
    font-family: 'FontAwesome';
    font-size: inherit;
    font-size: 0.8125rem;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.c-tab-labels__minimize-button:active {
    outline: none;
}
.c-tab-labels__minimize-button:hover {
    border-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    color: #ff5c00;
}
.c-tab-labels__minimize-button:before {
    content: '\f078';
}

.c-form__field {
    display: block;
    width: 100%;
    padding: 12px 15px;
    padding: 0.75rem 0.9375rem;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    border: 1px solid #dddddd;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    outline: none;

    color: #757575;
    font-size: 0.9375rem;

    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.c-form__field--files {
    width: 80%;
    margin: 15px auto 5px auto;
    margin: 0.9375rem auto 0.3125rem auto;
    border-width: 0 0 2px 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    font-size: 0.875rem;
    text-align: center;
}
.c-form__field--login {
    font-size: 1rem;
}
.c-form__field--login:focus {
    border-color: #ff5c00;
    border-left-width: 35px;
}
.c-form__field--login:focus + .c-form__field-icon {
    left: 32px;
    left: 2rem;

    opacity: 1;

    transition: all 0.25s ease-out;
}
.c-form__field:focus {
    border-color: #ff5c00;
}
.c-form__field:hover {
    border-color: #ff5c00;
}
.c-form__field-icon {
    position: absolute;
    left: 0;

    display: inline-block;
    opacity: 0;
    margin-top: -45px;
    margin-top: -2.8125rem;

    color: #ffffff;
    font-family: 'FontAwesome';
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.1s;
       -moz-transition-duration: 0.1s;
        -ms-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
}
.c-form__field-icon--username:before {
    content: '\f007';
}
.c-form__field-icon--password:before {
    content: '\f023';
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;

    -webkit-text-fill-color: #757575;
}

.c-dialog-modal {
    position: relative;
    top: -10%;

    width: 100%;
    max-width: 320px;
    max-width: 20rem;
    padding: 20px;
    padding: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    text-align: center;
}
.c-dialog-modal__header {
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #eeeeee;
}
.c-dialog-modal__header-title {
    font-size: 1rem;
    text-transform: uppercase;
}
.c-dialog-modal__content {
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    margin: 0;
    margin: 0rem;
}
.c-dialog-modal__content-instructions {
    padding-top: 10px;
    padding-top: 0.625rem;

    color: #757575;
    font-size: 0.9375rem;
}
.c-dialog-modal__content-message {
    margin: : 20px 0;
    margin: : 1.25rem 0rem;

    font-size: 0.9375rem;
}
.c-dialog-modal__content-message--error {
    color: #d62020;
}
.c-dialog-modal__content-message--neutral {
    color: #086788;
}
.c-dialog-modal__content-message--success {
    color: #6bb21a;
}

.c-button {
    cursor: pointer;
}
.c-button--dialog {
    padding: 8px 15px;
    padding: 0.5rem 0.9375rem;
    margin: 15px 10px 0 0;
    margin: 0.9375rem 0.625rem 0rem 0rem;
    background: none;
    border: 1px solid;
    border-color: #e2e2e2;
    border-radius: 3px;

    font-size: 0.875rem;
}
.c-button--dialog:last-of-type {
    margin-right: 0;
}
.c-button--dialog:hover {
    background-color: #ff5c00;
    border-color: #ff5c00;

    color: #ffffff;
}

.c-files-modal {
    position: relative;
    top: -10%;

    width: 100%;
    max-width: 320px;
    max-width: 20rem;
    padding: 20px;
    padding: 1.25rem;
    padding: 0;
    padding: 0rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    text-align: center;
}
.c-files-modal__header {
    padding: 10px 0;
    padding: 0.625rem 0rem;
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    margin: 0;
    margin: 0rem;
    background-color: #2e2f33;
    border-bottom: 1px solid #eeeeee;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}
.c-files-modal__header-title {
    margin: 12px 0;
    margin: 0.75rem 0rem;

    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
}
.c-files-modal__content {
    margin: 0;
    margin: 0rem;
}
.c-files-modal__content--inner {
    padding: 20px;
    padding: 1.25rem;
}
.c-files-modal__content-instructions {
    padding: 0;
    padding-top: 10px;
    padding-top: 0.625rem;
    margin: 0;

    color: #757575;
    font-size: 0.9375rem;
}
.c-files-modal__content-message {
    padding: 20px;
    padding: 1.25rem;
    margin: : 20px 0;
    margin: : 1.25rem 0rem;

    font-size: 0.9375rem;
}
.c-files-modal__content-message--error {
    color: #d62020;
}
.c-files-modal__content-message--neutral {
    color: #086788;
}
.c-files-modal__content-message--success {
    color: #6bb21a;
}

.c-file-button-container {
    padding: 0;
    margin: 0;
    border-top: 1px solid #eeeeee;

    list-style: none;
}
.c-file-button-container__item {
    float: left;
    width: 50%;
    height: 100px;
    height: 6.25rem;
    padding: 5px;
    padding: 0.3125rem;
    border-right: 1px solid #f4f4f4;

    text-align: center;
}
.c-file-button-container__item--last {
    float: left;
    width: 50%;
    height: 100px;
    height: 6.25rem;
    padding: 5px;
    padding: 0.3125rem;
    border: none;

    text-align: center;
}

.c-file-button {
    position: relative;

    display: block;
    width: 100%;
    height: 90px;
    height: 5.625rem;
    padding: 55px 0 14px 0;
    padding: 3.4375rem 0rem 0.875rem 0rem;
    background: none;
    border: 0;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    color: #757575;
    font-size: 0.875rem;
    font-weight: normal;

    cursor: pointer;
}
.c-file-button:hover {
    background-color: #fafafa;
}
.c-file-button__icon {
    position: absolute;
    top: 15px;
    top: 0.9375rem;
    left: 57px;
    left: 3.5625rem;
}
.c-file-button--is-hidden {
    position: absolute;
    z-index: -1;

    opacity: 0;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;
}

.c-login-modal {
    position: relative;
    top: -10%;

    width: 100%;
    max-width: 320px;
    max-width: 20rem;
    padding: 20px;
    padding: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    text-align: center;
}
.c-login-modal__header {
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #eeeeee;

    text-align: left;
}
.c-login-modal__header-title {
    margin: 15px 0 5px 0;
    margin: 0.9375rem 0 0.3125rem 0;

    font-size: 1rem;
    text-transform: uppercase;
}
.c-login-modal__content {
    margin: 0;
    margin: 0rem;
}
.c-login-modal__content-form {
    padding-bottom: 64px;
    padding-bottom: 4rem;
}
.c-login-modal__content-instructions {
    padding: 0;
    padding: 0rem;
    padding-top: 10px;
    padding-top: 0.625rem;
    margin: 20px 0 20px 0;
    margin: 1.25rem 0rem 1.25rem 0rem;

    color: #757575;
    font-size: 0.9375rem;
    text-align: left;
}
.c-login-modal__content-message {
    margin: : 20px 0;
    margin: : 1.25rem 0rem;

    font-size: 0.9375rem;
    text-align: left;
}
.c-login-modal__content-message--error {
    color: #d62020;
}
.c-login-modal__content-message--neutral {
    color: #086788;
}
.c-login-modal__content-message--success {
    color: #6bb21a;
}
.c-login-modal__content-password-reset {
    font-size: 0.9375rem;
    text-align: right;
}

.c-login-button {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    max-height: 60px;
    padding: 10px;
    padding: 0.625rem;
    margin-top: 20px;
    background: #ff5c00;
    border-width: 0;
    border-radius: 0 0 3px 3px;

    color: #ffffff;
    font-size: 1rem;

    cursor: pointer;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
}
.c-login-button:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 50%;
    bottom: 0;
    left: 50%;

    height: 4px;
    height: 0.25rem;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
    border-radius: 0 0 6px 6px;

    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: left, right;
            transition-property: left, right;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.c-login-button:hover:before,
.c-login-button:focus:before,
.c-login-button:active:before {
    right: 0;
    left: 0;
}
.c-login-button:hover {
    background: #ff6d01;
}

.c-app-selection-modal {
    position: relative;
    top: -10%;

    width: 100%;
    width: auto;
    max-width: 320px;
    max-width: 20rem;
    max-width: 80%;
    padding: 20px;
    padding: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    text-align: center;
}
.c-app-selection-modal__header {
    text-align: center;
}
.c-app-selection-modal__header-title {
    padding: 0;
    padding: 0rem;
    margin: 0 0 15px 0;
    margin: 0rem 0rem 0.9375rem 0rem;

    font-size: 1rem;
    font-size: 1.333rem;
    text-transform: uppercase;
    text-transform: none;
}
.c-app-selection-modal__admin-nav {
    margin: 0 0 20px 0;
    margin: 0rem 0rem 1.25rem 0rem;

    font-size: 0.9375rem;
}
.c-app-selection-modal__content-instructions {
    padding-top: 10px;
    padding-top: 0.625rem;

    color: #757575;
    font-size: 0.9375rem;
}
.c-app-selection-modal__content-message {
    margin: : 20px 0;
    margin: : 1.25rem 0rem;

    font-size: 0.9375rem;
}
.c-app-selection-modal__content-message--error {
    color: #d62020;
}
.c-app-selection-modal__content-message--neutral {
    color: #086788;
}
.c-app-selection-modal__content-message--success {
    color: #6bb21a;
}

.c-app-selection-button {
    padding: 10px;
    padding: 0.625rem;
    margin: 10px;
    margin: 0.625rem;
    background: none;
    border: 1px solid;
    border-color: #eeeeee;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    cursor: pointer;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
.c-app-selection-button:hover {
    border-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.c-app-selection-button__thumb {
    max-width: 150px;
}
.c-app-selection-button__label {
    font-size: 0.875rem;
    word-wrap: break-word;
}

.js-progress {
    height: 30px;
    height: 1.875rem;
    margin: 15px 0 5px 0;
    margin: 0.9375rem 0rem 0.3125rem 0rem;
    background-color: #a9c0d0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.js-progress__text {
    position: absolute;
    top: 7px;
    top: 0.4375rem;
    left: 0;
    left: 0rem;

    width: 280px;
    width: 17.5rem;
    padding: 0 1rem;

    font-size: 0.75rem;
}
.js-progress__text em {
    font-style: normal;
}
.js-progress__bar {
    position: relative;

    display: block;
    opacity: 1;
    width: 0;
    height: 100%;
    background-color: rgba(107, 178, 26, 0.95);
    background-image: linear-gradient(90deg, rgba(118, 196, 29, 0) 10%, rgba(128, 214, 31, 0.8) 30%, #8be029 70%, rgba(128, 214, 31, 0.8) 80%, rgba(118, 196, 29, 0) 90%), linear-gradient(to right, rgba(139, 224, 41, 0) 0%, #8be029 100%), linear-gradient(to left, rgba(139, 224, 41, 0) 0%, #8be029 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -20% center, right center, left center;
    background-size: 6.25rem 1.875rem, 8.125rem 1.875rem, 130px 1.875rem;
    border-color: #9ee54d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    color: #ffffff;
    font-size: 0.875rem;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);

    animation: pulse 2s ease-out infinite;
    transition: opacity 0.2s ease, width 0.8s ease-out, background-color 1s ease, border-color 0.3s ease, box-shadow 1s ease;
}
.js-progress__bar:before,
.js-progress__bar:after {
    content: '';
    position: absolute;
    top: -10px;
    top: -0.625rem;
    right: -1px;
    right: -0.0625rem;

    width: 1px;
    width: 0.0625rem;
    height: 40px;
    height: 2.5rem;
}
.js-progress__bar:before {
    right: -4px;
    right: -0.25rem;

    width: 7px;
    width: 0.4375rem;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 75%);
}
.js-progress__bar:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 100%);
}

@keyframes pulse {
    0% {
        background-position: -50% center, right center, left center;
    }
    100% {
        background-position: 150% center, right center, left center;
    }
}
.c-spinner {
    position: relative;

    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    margin: 20px auto;
    margin: 1.25rem auto;

    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
            animation: sk-rotate 2.0s infinite linear;
}

.c-spinner__dot-1,
.c-spinner__dot-2 {
    position: absolute;
    top: 0;

    display: inline-block;
    width: 60%;
    height: 60%;
    background-color: #ff5c00;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
}

.c-spinner__dot-2 {
    top: auto;
    bottom: 0;

    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}
@keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

/*# sourceMappingURL=style.css.map */
