// Filename: _clipboard.scss
// Description: Clipboard component. Allows the user to manage clipboard contents.

// The bottom-right panel
.c-clipboard-toolbar {
    @include toolbar();
}

// The part of the panel that slides down
.c-clipboard-body {
    @include rem('min-height', 100px);

    margin-right: 0;
}

// Container for the tab labels
.c-tab-labels {
	@include rem('height', 20px);	
    clear: both;
}
// Individual tab label
.c-tab-label {
    @include rem('margin', 0px 25px 0px 0px);

    float: left;
    padding: 0;
    background: none;
  	font-size: $regular;
    text-transform: uppercase;
}

// The contents of the tabs associated with the labels
.c-tab-content {
    //Hidden by default unless active
    &__item {
        @include rem('min-height', 100px);
        @include rem('top', 10px);
        @include rem('margin-bottom', 10px);

        display: none;
        clear: both;

        // Shows the active tab
        &--is-active {
            display: block;

            color: $primary-text;
        }
    }

    // Gives the user instructions on how they can use the clipboard
    &__instructions {
        @include rem('padding-top', 5px);
        @include rem('margin', 0px);
        @include rem('right', 5px);
        @include rem('bottom', -20px);

        position: absolute;

        color: $secondary-text;
        font-size: $smallest;
    }

    // Fields with clipboard text content
    &__text-area {
        @include rem('padding', 10px);
        width: 100%;
    }
    
    &__text-iframe {
        background-color: #f5f5f5;
		border: 1px solid #cccccc;
		border-radius: 4px;
		width: 100%;
		max-height: 160px;
    }

	&__text-pre {
		width: 100%;
		max-height: 160px;
    }
    
    // Thumbnails of clipboard images
    &__img-thumb {
        @include border-radius(3px);
        @include rem('padding', 10px);
        @include rem('margin', 0px 10px 10px 0px);
        @include rem('max-height', 100px);

        display: block;
        clear: both;
        height: auto;
        background: none;
        border: 1px solid;
        border-color: $light-grey-3;
    }

    // List of clipboard files
    &__file-list {
        @include rem('padding', 10px);
        @include rem('margin-bottom', 10px);

        clear: both;
        border: 1px solid $light-grey-2;
		max-height: 100px;
		overflow: auto;
        color: $neutral;
        font-size: $smallest;

        & a {
            cursor: pointer;
        }
    }
}

// The part of the clipboard that remains visible
.c-clipboard-sticky-container {
    display: block;
    clear: both;
    width: 100%;
}

// Holds the tab buttons that remain visible when minimized
.c-minimized-tab-container {
    display: block;
    float: left;
    
    .c-minimized-tab:first-child{
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
    }  
    .c-minimized-tab:last-child{
    	border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
    }
    .c-minimized-tab:not(:first-child){
		border-left: 0;
    }
}

// Individual tabs to indicate what content is available in the clipboard
.c-minimized-tab {
    @include rem('padding', 6px 10px);

    background: none;
    border: 1px solid;
    border-color: $light-grey-4;
	float: left;
    font-size: $smallest;

    cursor: pointer;
	
    &--is-active {
        color: $primary-text;

        &:hover {
            background-color: $primary;
            border-color: $primary;

            color: $white;
        }
    }
    
  	&--is-selected {
        color: $primary;
    }
    
    &--is-inactive {
        border-color: $light-grey-4;

        color: $light-grey-4;

        cursor: default;
    }
    
    

    
    
}

// Button that clears the clipboard content
.c-clipboard-clear-button {
    @include rem('padding', 6px 10px);
    @include border-radius(3px);

    float: right;
    background: none;
    border: 1px solid;
    border-color: $light-grey-4;

    font-size: $smallest;

    &:hover {
        background-color: $primary;
        border-color: $primary;

        color: $white;
    }
}

