<form name="appForm" novalidate>
    <div class="form-group">
        <label class="col-lg-3 col-md-4 col-sm-5 control-label"> {{::vm.label}} 
            <span class="ws-tooltip glyphicon glyphicon-question-sign" ng-if="vm.desc != null" ui-jq="tooltip" title="{{::vm.desc}}"></span>
        </label>
        <div class="col-lg-9 col-md-8 col-sm-7 ">
            <div class="input-group">
                <div class="input-group-addon" ng-click="vm.toggleHelper()"><span ng-if="vm.variables != null" ng-class="{'glyphicon':true, 'glyphicon-flash':!vm.helpVisible,'glyphicon-chevron-up':vm.helpVisible}" ></span></div>
                <input class="form-control" name="input" type="{{::vm.type}}"
                		ng-readonly="vm.readonly" ng-model="vm.value" ng-required="vm.required" ng-click="vm.openHelper()" ng-blur="vm.onBlur()"
                		ws-substitutor-helper variables="vm.variables" message="vm.value" ng-disabled="vm.restricted==='true'">
                <div class="input-group-addon" ng-if="vm.items != null && !vm.readonly && vm.restricted!=='true'" dropdown dropdown-toggle>
                    <span class="glyphicon glyphicon-chevron-down" ></span>
                    <ul class="dropdown-menu pull-right">
                        <li ng-repeat="choice in vm.items">
                            <a href ng-click="vm.setChoice(choice)">{{choice}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="vm.variables != null" collapse="!vm.helpVisible">
                <div class="ws-helper alert alert-info" >
                    <small><span class="glyphicon glyphicon-flash" ></span>This field supports variable replacement. Start typing '${' </small>
                    <br/>
                    <strong>Resolve to: </strong>{{vm.value|substitutor:vm.variables }}
                </div>
            </div>
            <div ng-show="appForm.input.$invalid">
                <span class="label label-danger" ng-show="appForm.input.$error.required">{{::vm.requiredMsg}}</span>
            </div>
        </div>
    </div>
</form>