/**
 * Filename: _containers.scss
 * Original author: Stephen Niemans (30-9-2016)
 * Last modified by: Stephen Niemans (30-9-2016)
 *
 * Description:
 * Defines containers that hold all other elements
 */

//Fullscreen container that holds webswing
.l-webswing-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, $white, $light-grey-2);
}

//Fullscreen container that holds modals such as dialogs and the sign in form
.l-modal-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    justify-content: center;
}


// Container that holds the webswing app selection menu
.l-selector-container {
    @include rem('margin-top', 20px);

    display: inline-flex;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}