// Filename: _responsiveUtil.scss
// Description: utility classes for responsive layout

@media only screen and (max-width: 480px) {
	.ws-dialog {
		max-width: 100%;
		width: auto;
		padding: 10px;
	}

	.ws-dialog * {
		font-size: 14px !important;
	}
	
	.ws-dialog-content {
		padding-bottom: 0px;
	}
	
	.ws-dialog p {
		margin: 5px;
	}
	
	.ws-progress {
		margin: 0 0 10px 0;
		height: 20px;
	}
	
	.ws-spinner {
		margin: 10px auto;
		width: 20px;
		height: 20px;
	}

	.ws-messagebar {
		padding: 10px;
	}

	.ws-messagebar .ws-header {
		padding-bottom: 10px;
	}
	
	.ws-messagebar .ws-title {
		font-size: 15px;
	}

	.ws-dialog-content p {
		font-size: 14px !important;
	}

	.ws-selector-container {
		text-align: center;
	}
	
	.ws-login-instructions {
		margin: 10px 0;
	}
	
}