// Filename: _utility.scss
// Description: Contains utility classes that can be used individually and applied freely

// Hides the element in it's initial state
.ws-hidden {
    display: none;
}

.ws-right {
	float: right;
}

.ws-left {
	float: left;
}

.ws-margin {
    @include rel('margin-bottom', 15px);
}