// Filename: _dialog.scss
// Description: Dialog modal component. Default modal styles found in scss/modals.scss

.c-dialog-modal {
    @include modal;

    &__header {
        @include modal__header;

        &-title {
            @include modal__header-title;
        }
    }

    &__content {
        @include rem('padding-bottom', 20px);
        @include rem('margin', 0px);

        &-instructions {
            @include modal__content-instructions;
        }

        &-message {
            @include modal__content-message;
        }
    }
}

.c-button {
    cursor: pointer;

    &--dialog {
        @include rem('padding', 8px 15px);
        @include rem('margin', 15px 10px 0px 0px);

        background: none;
        border: 1px solid;
        border-color: $light-grey-4;
        border-radius: 3px;

        font-size: $smaller;

        &:hover {
            background-color: $primary;
            border-color: $primary;

            color: $white;
        }
    }
}
