// Filename: _login.scss
// Description: Login modal component. Default modal styles found in scss/modals.scss

.c-login-modal {
    @include modal;

    &__header {
        @include modal__header;

        text-align: left;

        &-title {
            @include modal__header-title;
            @include rem('margin', 15px 0 5px 0);
        }
    }

    &__content {
        @include rem('margin', 0px);

        &-form {
            @include rem('padding-bottom', 64px);
        }

        &-instructions {
            @include modal__content-instructions;
            @include rem('padding', 0px);
            @include rem('margin', 20px 0px 20px 0px);

            text-align: left;
        }

        &-message {
            @include modal__content-message;

            text-align: left;
        }

        &-password-reset {
            font-size: $small;
            text-align: right;
        }
    }
}

.c-login-button {
	@include modal__content-submit;
}
