/**
 * Filename: _login.scss
 * Original author: Stephen Niemans (30-9-2016)
 * Last modified by: Stephen Niemans (30-9-2016)
 *
 * Description: Login modal component. Default modal styles found in scss/modals.scss
 * Related HTML files: loginPage.html, loginPartial.html, logoutPage.html, logoutPartial.html
 * Related JS files: webswing-login.js
 */

.c-login-modal {
    @include modal;

    &__header {
        @include modal__header;
        text-align: left;

        &-title {
            @include modal__header-title;
        }
    }

    &__content {
        @include rem('padding-bottom', 20px);
        @include rem('margin', 0px);

        &-instructions {
            @include modal__content-instructions;
            text-align: left;
        }

        &-message {
            @include modal__content-message;
            text-align: left;
        }

        &-password-reset {
            font-size: $small;
            text-align: right;
        }
    }
}

.c-login-button {
        @include animation-underline-center;
        @include rem('padding', 10px);

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;
        max-height: 60px;
        margin-top: 20px;
        background: $primary;
        border-width: 0;
        border-radius: 0 0 3px 3px;

        color: $white;
        font-size: $regular;

        cursor: pointer;
        transform: rotateZ(0deg);
        transition: all 0.1s ease-out;

        &:hover {
            background: $primary-lighter;
        }
}