// Filename: _windowSwitcher.scss
// Description: Window switcher modal component. Default modal styles found in scss/modals.scss

.ws-window-switcher {
	@extend .ws-modal;

    &-header {
        @extend .ws-header;
        text-align: left;
    }
    
    &-content {
        @include rel('margin', 0px);
        text-align: left;
        
        div {
        	padding: 4px;
	        
	        label, span {
	        	margin-left: 5px;
	        }
        }
        
    }
    
}
