<h1 class="page-header">Runtime</h1>

<div class="form-horizontal">
	<ws-output label="'Host'" value="masterData.serverProps.host"></ws-output>
	<ws-output label="'Port'" value="masterData.serverProps.port"></ws-output>
	<ws-output label="'Configuration file'" value="masterData.serverProps.configFile"></ws-output>
	<ws-output label="'User properties file'" value="masterData.serverProps.userProps"></ws-output>
	<ws-output label="'Temp folder'" value="masterData.serverProps.tempFolder"></ws-output>
	<ws-output label="'JMS server URL'" value="masterData.serverProps.jmsServerUrl"></ws-output>
	<ws-output label="'WebSwing war location'" value="masterData.serverProps.warLocation"></ws-output>

	<h2 class="sub-header"><small>Swing applications</small></h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="app in masterData.liveCfg.applications">
					<div class="input-group">
						<input class="disabled-input form-control " ng-model="app.name" readonly>
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="view($index)">
								<span class="glyphicon glyphicon-camera"></span> View
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-8 edit-app-panel" ng-hide="currentViewApplication==null">
			<div class="edit-app-arrow" ng-style="arrowPos"></div>
			<div ng-include="'partials/settings/overview-app.html'"></div>
		</div>
	</div>
</div>