<h1 class="page-header">Application settings</h1>

<form name="app" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" ng-model="name" required>
		</div>
		<label class="col-sm-2 control-label">Main class</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" ng-model="main" required>
		</div>
		<label class="col-sm-2 control-label">JVM arguments</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" ng-model="vmargs" required>
		</div>
		<label class="col-sm-2 control-label">Application arguments</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" ng-model="args" required>
		</div>
		<label class="col-sm-2 control-label">Application home directory</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" ng-model="homeDir" required>
		</div>
		<label class="col-sm-2 control-label">Max simultaneous sessions</label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" ng-model="maxClients" required>
		</div>
	</div>
</form>