<div data-id="copyBar" class="c-clipboard-toolbar">
	<div data-id="contentBar" class="c-clipboard-body">


		<div class="c-tab-content">
			<div class="c-tab-labels">
				<h4 class="c-tab-label">Content</h4>
			</div>

			<div class="c-tab-content__item" data-id="text">
				<div>
					<div data-id="textarea" class="c-tab-content__text-area"></div>
					<div data-id="ie-clipboard" class="input-hidden" contenteditable="true"></div>
				</div>
			</div>

			<div class="c-tab-content__item" data-id="more">
				<div data-id="image">
					<b>Image:</b>
				</div>
				<div data-id="files">
					<b>Files:</b>
					<div id="wsFileList" class="c-tab-content__file-list"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-clipboard-sticky-container">
		<div data-id="minimizedInfoBar" class="c-minimized-tab-container">
			<button data-id="text" class="c-minimized-tab c-minimized-tab--is-active c-minimized-tab--is-selected">Copy to Clipboard (CTRL+C)</button>
			<button data-id="more" class="c-minimized-tab c-minimized-tab--is-active">More...</button>
		</div>

		<button data-id="closeBtn" class="c-clipboard-clear-button">Discard</button>
	</div>
</div>
