<div data-id="copyBar" class="c-clipboard-modal">
	<div data-id="contentBar" class="c-clipboard-body">


		<div class="c-tab-content">
			<div class="c-tab-labels">
				<button id="textTab" data-tab="text" class="c-tab-label">Text</button>
				<button id="htmlTab" data-tab="html" class="c-tab-label">HTML</button>
				<button id="imageTab" data-tab="image" class="c-tab-label">Image</button>
				<button id="filesTab" data-tab="files" class="c-tab-label">Files</button>
				<button id="otherTab" data-tab="other" class="c-tab-label">Other</button>
				<button class="c-tab-labels__minimize-button"></button>
			</div>

			<div class="c-tab-content__item" id="text">
				<div>
					<textarea data-id="textarea" class="c-tab-content__text-area" readonly rows="4"></textarea>
					<div data-id="ie-clipboard" class="input-hidden" contenteditable="true"></div>
					<p class="c-tab-content__instructions">Press CTRL+C to copy.</p>
				</div>
			</div>

			<div class="c-tab-content__item" id="html">
				<div>
					<textarea data-id="htmlarea" class="c-tab-content__text-area" readonly rows="4"></textarea>
					<p class="c-tab-content__instructions">Press CTRL+C to copy.</p>
				</div>
			</div>

			<div id="image" class="c-tab-content__item">
				<div>
					<p class="c-tab-content__instructions">Right click on the image and select 'Copy image'.</p>
				</div>
			</div>

			<div class="c-tab-content__item" id="files">
				<div>
					<div id="wsFileList" class="c-tab-content__file-list"></div>
					<p class="c-tab-content__instructions">Click on a clipboard link to download the file.</p>
				</div>
			</div>

			<div class="c-tab-content__item" id="other">
				<div>
					<p class="c-tab-content__instructions">The clipboard contains data which may only be used within this application.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="c-clipboard-sticky-container">
		<div data-id="minimizedInfoBar" class="c-minimized-tab-container">
			<button data-id="plaintext" class="c-minimized-tab c-minimized-tab--is-inactive">Plain-text</button>
			<button data-id="html" class="c-minimized-tab c-minimized-tab--is-inactive">HTML</button>
			<button data-id="image" class="c-minimized-tab c-minimized-tab--is-inactive">Image</button>
			<button data-id="files" class="c-minimized-tab c-minimized-tab--is-inactive">Files</button>
			<button data-id="other" class="c-minimized-tab c-minimized-tab--is-inactive">Other</button>
		</div>

		<button data-id="closeBtn" class="c-clipboard-clear-button">Clear all</button>
	</div>
</div>
