.webswing-playbackBarOuter {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.webswing-playbackBar {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	max-width: 480px;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 10px;
	background-color: #fff;
	border-color: #ddd;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.webswing-playbackBarButtonRow {
	margin-right: 0 !important;
}

.webswing-playback-progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}