<div data-id="playbackBar" class="ws-toolbar-container">
	<div class="ws-playback">
		<div class="ws-progressbar-container">
			<div data-id="progress" class="ws-progress">
				<div style="width: 0%;" class="ws-progress-bar ws-playback-progress">
					<span class="ws-progress-text">Progress: <em><span data-id="current"></span>/<span data-id="total"></span></em></span>
				</div>
			</div>
		</div>
		<div class="ws-btn-group">
			<button class="ws-btn ws-icon-play" data-id="play"></button>
			<button class="ws-btn ws-icon-stop" data-id="stop"></button>
			<button class="ws-btn ws-icon-to-end" data-id="step">+1</button>
			<button class="ws-btn ws-icon-to-end-alt" data-id="10step">+10</button>
			<button class="ws-btn ws-icon-to-end-alt" data-id="100step">+100</button>
		</div>
		<button class="ws-btn ws-right ws-icon-back" data-id="reset"></button>
	</div>
</div>