<div data-id="touchBar" class="ws-toolbar-container touch-control">
	<div data-id="contentBar" class="ws-touchbar">
		<div class="ws-toolbar-container">
			<div class="align-left">
			</div>
			<div class="align-center">
			</div>
			<div class="align-right">
			</div>
		</div>
	</div>
</div>
<div id="ws-touch-effect" class="touch-control"></div>
<div class="ws-drag-effect touch-control"></div>
<div id="ws-canvas-scale" class="touch-control">
	<span class="scale-value"></span>
	<span class="scale-restore ws-icon-search"></span>
</div>
<div id="ws-toast" class="touch-control"></div>
<img id="ws-cursor" class="default"></img>