<div data-id="autoUploadBar" class="l-modal-container l-modal-container--upload">
	<div  class="c-modal c-modal--upload">
		<div class="c-modal__body">
			<div class="c-modal__header c-modal__header--upload">
				<h2 class="c-modal__title c-modal__title--upload">Open file</h2>
			</div>

			<div class="c-modal__content">
				<p class="c-modal__instructions c-modal__instructions--upload">
					Please select a file to import.
				</p>

				<div data-id="fileDialogTransferProgressBar" class="l-progressbar-container">
					<div data-id="progress" class="js-progress">
						<div style="width: 0%;" class="js-progress__bar">
							<span class="js-progress__text">Progress: <em>0%</em></span>
						</div>
					</div>
				</div>

				<input data-id="autoUploadfileDialogTransferBarClientId" name="clientId" type="hidden">

				<ul class="l-button-grid">
					<li class="l-button-grid__item l-button-grid__item--first">
						<div class="c-upload-button">
							<form data-id="autoFileupload" class="c-form">
								<input data-id="autoFileInput" id="webswingUploadBrowse" name="files[]" accept=""
								       type="file" class=" c-upload-button__browse-hidden"/>
								<label for="webswingUploadBrowse" class="c-upload-button__browse-overlay">
									<img src="../img/icon-import.png" class="c-button-grid-icon"/>
									<span>Browse</span>
								</label>
							</form>
						</div>
					</li>

					<li class="l-button-grid__item">
						<div class="c-upload-button">

							<button data-id="cancelAutoUploadButton" class="c-upload-button__cancel"><img
									src="../img/icon-cancel.png" class="c-button-grid-icon"/>
								<span>Cancel</span></button>

						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div data-id="uploadBar" class="webswing-fileDialogBar">
	<div class="container-fluid">
		<div class="webswing-fileDialogButtonRow row ">
			<div data-id="fileDropArea" class="u-hidden">
				<p class="upload-dropH1">Drag and drop files here</p>
			</div>
		</div>
		<div class="webswing-fileDialogButtonRow row ">
			<div class="col-xs-4" data-id="fileDownloadBtn" class="webswing-hidden">
				<button class="btn btn-success btn-sm btn-block" data-id="downloadSelectedButton">Download selected
				</button>
			</div>
			<div class="col-xs-4" data-id="fileUploadBtn" class="webswing-hidden">
				<form data-id="fileupload">
					<input data-id="fileDialogTransferBarClientId" name="clientId" type="hidden">
					<div class="webswing-fileUpload btn btn-success btn-sm btn-block">
						<span>Upload files</span>
						<input accept="" data-id="fileInput" name="files[]" class="upload" type="file">
					</div>
				</form>
			</div>
			<div class="col-xs-4" data-id="fileDeleteBtn" class="webswing-hidden">
				<!-- Single button -->
				<button class="btn btn-success btn-sm btn-block" data-id="deleteSelectedButton">Delete selected</button>
			</div>
		</div>
		<div data-id="fileDialogTransferProgressBar" class="webswing-fileDialogButtonRow row" class="webswing-hidden">
			<div style="padding-right: 0px;" class="col-xs-8">
				<div data-id="progress" class="js-progress">
					<div style="width: 0%;" class="js-progress__bar">
						<span class="js-progress__text">
							Progress: <em>0%</em>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div data-id="cancelBtn" class="btn btn-danger btn-xs btn-block">
					<span> Cancel</span>
				</div>
			</div>
		</div>
		<div data-id="fileDialogErrorMessage" class="webswing-fileDialogButtonRow row u-hidden">
			<div class="col-md-12">
				<div data-id="fileDialogErrorMessageContent" class="alert alert-danger"></div>
			</div>
		</div>
	</div>
</div>
