<div data-id="autoSaveBar" class="l-modal-container" >
	<div class="c-files-modal">
		<div class="">
			<div class="c-files-modal__header">
				<h2 class="c-files-modal__header-title">Save file</h2>
			</div>

			<div class="c-files-modal__content">
				<div class="c-files-modal__content--inner">
					<p class="c-files-modal__content-instructions">
						Please enter a name for the file.
					</p>

					<input data-id="autoSaveInput" class="c-form__field c-form__field--files" placeholder="Enter a file name here" type="text">
				</div>

				<ul class="c-file-button-container">
					<li class="c-file-button-container__item">
						<button data-id="autoSaveButton" class="c-file-button">
							<img src="../img/icon-save.png" class="c-file-button__icon"/>
							<span>Save</span>
						</button>
					</li>

					<li class="c-file-button-container__item--last">
						<button data-id="cancelAutoSaveButton" class="c-file-button">
							<img src="../img/icon-cancel.png" class="c-file-button__icon"/>
							<span>Cancel</span>
						</button>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div data-id="autoUploadBar" class="l-modal-container">
	<div  class="c-files-modal">
		<div class="">
			<div class="c-files-modal__header">
				<h2 class="c-files-modal__header-title">Open file</h2>
			</div>

			<div class="c-files-modal__content">
				<div class="c-files-modal__content--inner">
					<p class="c-files-modal__content-instructions">
						Please select a file to import.
					</p>

					<div data-id="fileDialogTransferProgressBar" class="l-progressbar-container">
						<div data-id="progress" class="js-progress">
							<div style="width: 0%;" class="js-progress__bar">
								<span class="js-progress__text">Progress: <em>0%</em></span>
							</div>
						</div>
					</div>

					<div data-id="fileDialogErrorMessage" >
						<div data-id="fileDialogErrorMessageContent" class="c-modal__message c-modal__message--error"></div>
					</div>
				</div>

				<ul class="c-file-button-container">
					<li class="c-file-button-container__item">
						<form data-id="autoFileupload" class="">
							<input data-id="autoUploadfileDialogTransferBarClientId" name="clientId" type="hidden">

							<input data-id="autoFileInput" id="webswingUploadBrowse" name="files[]" accept=""
							       type="file" class="c-file-button--is-hidden"/>

							<label for="webswingUploadBrowse" class="c-file-button">
								<img src="../img/icon-import.png" class="c-file-button__icon"/>
								<span>Browse</span>
							</label>

						</form>
					</li>

					<li class="c-file-button-container__item--last">

						<button data-id="cancelAutoUploadButton" class="c-file-button"><img
								src="../img/icon-cancel.png" class="c-file-button__icon"/>
							<span>Cancel</span></button>

					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div data-id="uploadBar" class="c-files-toolbar">
	<div class="container-fluid">
		<div class="webswing-fileDialogButtonRow row ">
			<div data-id="fileDropArea" class="u-hidden">
				<p class="upload-dropH1">Drag and drop files here</p>
			</div>
		</div>
		<div class="webswing-fileDialogButtonRow row ">
			<div class="col-xs-4" data-id="fileDownloadBtn" class="webswing-hidden">
				<button class="btn btn-success btn-sm btn-block" data-id="downloadSelectedButton">Download selected
				</button>
			</div>
			<div class="col-xs-4" data-id="fileUploadBtn" class="webswing-hidden">
				<form data-id="fileupload">
					<input data-id="fileDialogTransferBarClientId" name="clientId" type="hidden">
					<div class="webswing-fileUpload btn btn-success btn-sm btn-block">
						<span>Upload files</span>
						<input accept="" data-id="fileInput" name="files[]" class="upload" type="file">
					</div>
				</form>
			</div>
			<div class="col-xs-4" data-id="fileDeleteBtn" class="webswing-hidden">
				<!-- Single button -->
				<button class="btn btn-success btn-sm btn-block" data-id="deleteSelectedButton">Delete selected</button>
			</div>
		</div>
		<div data-id="fileDialogTransferProgressBar" class="webswing-fileDialogButtonRow row" class="webswing-hidden">
			<div style="padding-right: 0px;" class="col-xs-8">
				<div data-id="progress" class="js-progress">
					<div style="width: 0%;" class="js-progress__bar">
						<span class="js-progress__text">
							Progress: <em>0%</em>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div data-id="cancelBtn" class="btn btn-danger btn-xs btn-block">
					<span> Cancel</span>
				</div>
			</div>
		</div>
		<div data-id="fileDialogErrorMessage" class="webswing-fileDialogButtonRow row u-hidden">
			<div class="col-md-12">
				<div data-id="fileDialogErrorMessageContent" class="alert alert-danger"></div>
			</div>
		</div>
	</div>
</div>
