<div data-id="windowSwitcher" class="ws-modal-container catch-focus" role="dialog" aria-label="${accessibility.switcher.title}" aria-describedby="switcher-description">
	<div id="switcher-description" style="display: none;">${accessibility.switcher.description}</div>
	<div id="switcher-modal-blocked-description" style="display: none;">${accessibility.switcher.modalBlocked.description}</div>
	<div class="ws-window-switcher">
        <div data-id="title" class="ws-window-switcher-header">${accessibility.switcher.title}</div>
        <div class="ws-window-switcher-content">
        </div>
        <button data-id="closeBtn" class="ws-btn ws-btn--xs ws-right ws-icon-cancel-circled">${accessibility.switcher.cancel}</button>
    </div>
</div>
